@font-face {
    font-family: BwModelica-Regular;
    font-style: normal;
    font-weight: 500;
    src: url(/assets/font/BwModelica-Regular.woff2) format('woff2'),
    url(/assets/font/BwModelica-Regular.woff) format('woff'),
    url(/assets/font/BwModelica-Regular.ttf) format('truetype'),
    url(/assets/font/BwModelica-Regular.eot) format('embedded-opentype');
}
@font-face {
    font-family: BwModelica-ExtraBold;
    font-style: normal;
    font-weight: 800;
    src: url(/assets/font/BwModelica-ExtraBold.woff2) format('woff2'),
    url(/assets/font/BwModelica-ExtraBold.woff) format('woff'),
    url(/assets/font/BwModelica-ExtraBold.ttf) format('truetype'),
    url(/assets/font/BwModelica-ExtraBold.eot) format('embedded-opentype');
}
img {
    max-width: 180px;
}
.tuxu, svg {
    margin: 16px;
    width: 72px;
}
.links, .links a:visited {
    font-family: BwModelica-Regular;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    text-align: right;
    position: absolute;
    right: 4px;
    bottom: 32px;
}
.links a {
    transition: .5s;
}
.links a:active, .links a:hover {
    font-family: BwModelica-ExtraBold;
    font-style: normal;
    line-height: 18px;
    font-weight: 800;
    transition: .5s;
}
.links a:after {
    content: ' 👈🏾';
    opacity: 0;
    transition: .5s;
}
.links a:hover:after {
    content: ' 👈🏾';
    opacity: 1;
    transition: .5s;
}
.about {
    font-family: BwModelica-Regular;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: .05em;
    top: 120px;
    left: 3px;
    position: absolute;
}
.photo {
    position: absolute;
    margin: 16px 16px 16px 4px;
    bottom: 32px;
}
.night {
    background-color: #000;
}
.night a, .night p {
    color: #fff!important;
}
.night svg .line, .night svg .tuxu {
    fill: #fff!important;
}
.day svg .line, .day svg .tuxu {
    fill: #000!important;
}
.day {
    background-color: #fff;
}
.day a, .day p {
    color: #000;
    fill: #000;
}
@media only screen and (min-width:769px) {
    .day .hero {
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.7)), url(/assets/img/avatar.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;
        background-size: cover;
    }
    .night .hero {
        background: linear-gradient(0deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.6)), url(/assets/img/avatar.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;
        background-size: cover;
    }
    .tuxu, svg {
        margin: 60px;
    }
    .about {
        top: 200px;
        left: 48px;
    }
    .links {
        right: 24px;
    }
}
@media only screen and (min-width:1024px) {
    .about {
        position: absolute;
        top: auto;
        bottom: 34px;
    }
}
