@font-face {
    font-family: BwModelica-Regular;
    font-style: normal;
    font-weight: 500;
    src: url(/assets/font/BwModelica-Regular.woff2) format('woff2'),
    url(/assets/font/BwModelica-Regular.woff) format('woff'),
    url(/assets/font/BwModelica-Regular.ttf) format('truetype'),
    url(/assets/font/BwModelica-Regular.eot) format('embedded-opentype');
}
@font-face {
    font-family: BwModelica-ExtraBold;
    font-style: normal;
    font-weight: 800;
    src: url(/assets/font/BwModelica-ExtraBold.woff2) format('woff2'),
    url(/assets/font/BwModelica-ExtraBold.woff) format('woff'),
    url(/assets/font/BwModelica-ExtraBold.ttf) format('truetype'),
    url(/assets/font/BwModelica-ExtraBold.eot) format('embedded-opentype');
}
.photo {
    max-width: 180px;
    height: auto;
}
.tuxu, svg {
    margin: 16px;
    width: 72px;
}
.links, .links a:visited {
    font-family: BwModelica-Regular;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    text-align: right;
    position: absolute;
    right: 4px;
    bottom: 32px;
}
.links a {
    transition: .5s;
}
.links a:active, .links a:hover {
    font-family: BwModelica-ExtraBold;
    font-style: normal;
    line-height: 18px;
    font-weight: 800;
    transition: .5s;
}
.links a:after {
    content: ' 👈🏾';
    opacity: 0;
    transition: .5s;
}
.links a:hover:after {
    content: ' 👈🏾';
    opacity: 1;
    transition: .5s;
}
.about {
    font-family: BwModelica-Regular;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: .05em;
    top: 120px;
    left: 3px;
    position: absolute;
}
.photo {
    position: absolute;
    margin: 16px 16px 16px 4px;
    bottom: 32px;
}
.night {
    background-color: #000;
}
.night a, .night p {
    color: #fff!important;
}
.night svg .line, .night svg .tuxu {
    fill: #fff!important;
}
.day svg .line, .day svg .tuxu {
    fill: #000!important;
}
.day {
    background-color: #fff;
}
.day a, .day p {
    color: #000;
    fill: #000;
}
.glitch-img {
    background-image: url(/assets/img/avatar.jpg);
    position: absolute;
    width: 50%;
    height: 30%;
    left: 12px;
    background-position:center;
    -moz-background-size:cover;
    -o-background-size:cover;
    -webkit-background-size:cover;
    background-size:cover;
    opacity : 1;
}
@media only screen and (min-width:769px) {
  .glitch-img{
    width: 25%;
    height: 25%;
    left: auto;
    }
    .day .hero {
        background-color: white;
    }
    .night .hero {
        background-color: black;
    }
    .tuxu, svg {
        margin: 60px;
    }
    .about {
        left: 48px;
    }
    .links {
        right: 24px;
    }
    .photo{
        left: 56px;
    }
}
@media only screen and (min-width:1024px) {
    .about {
        position: absolute;
        bottom: 34px;
    }
}
